* {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

body {
    background-color: #2d3528e7;
}

section {
    
    min-height: 100vh;

}

/* NAVIGATION SSECTION */
.navbar ul li a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #b2b8b2f1;
    font-weight: 600;
}

.navbar ul li {
    display: flex;
    height: 25px;
    width: 100px;
    justify-content: center;
    align-items: center;


}

.navbar {
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    background: #4269498a;
    position: fixed;
    top: 0px;
    padding-left: 3vw;
}

.left {
    flex: 2;
    font-size: 2rem;
    color: #e3ece8d1;
}

.right {
    flex: 3;
}

.right ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.navbar ul li a:hover {
    color: #85b99aa3;
    font-size: 1.4em;
    transition: all;
    transform: ease-out;
    transition-duration: 0.3s;

}


.dropdown {
    background: #10026c;
    width: 2rem;
    border-radius: 5px;
    display: none;

}
.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
    .right {
        position: relative;
    }

    .dropdown {
        display: block;
        position: relative;
        left: 35vw;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }

    #list {
        display: none;
        position: absolute;
        height: 15rem;
        top: 3rem;
        /* Below the button */
        right: 0;
        width: 120px;
        border-radius: 20px;
        background-color: #6e502c;
        list-style: none;
        gap: 2rem;
        padding: 10px;
        z-index: 1000;

    }

    #list li {
        width: 100px;

    }

    #list.show {
        display: flex;
        flex-direction: column;


    }

    #list a:hover {
        font-size: 1.1em;

    }
}



/* HOME SECTION */
.firstsec {
    display: flex;
    align-items: center;
    color: #FDF6ED;
    gap: 100px;
}

.leftsec {
    flex: 1;
}

.rightsec {
    flex: 1;
}


.rightsec {

    margin-top: 8vmin;
    border: 2px solid rgb(246, 246, 246);
    max-width: 30vw;
    height: 30vw;
    border-radius: 100%;
    margin-right: 10vmin;
    background-image: url("haider.png");
    background-size: cover;
}

.leftText {
    height: 35vh;
    max-width: 680px;
    margin-bottom: 2rem;
}

.leftsec {
    margin-left: 3rem;
    padding-left: 2rem;
    font-size: 3rem;

}
#element {
    color: #89b898;
}
.name {
    color: #74af95;
    font-weight: 600;
    font-size: 1.15em;
}

html {
    scroll-behavior: smooth;
}



.btn a {
    text-decoration: none;
    color: #2d3528e7;
}

.button {
    height: 60px;
}

.btn {
    
    width: 8rem;
    height: 2.5rem;
    font-size: 1.15rem;
    font-weight: 550;
    background-color: #88b591;
    border: 1px solid #d4e7c1;
    border-radius: 25px;
    font-style: oblique;
    cursor: pointer;
}

.btn:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}

#git,
#linkedin {
    color: #88b591;
    margin-top: 10px;
    /* margin-left: 15px; */
    font-size: 2.5rem;
}


#git:hover,
#linkedin:hover {
    color: #c0dcc3;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

/*ABOUT SECTION*/
.aboutsec {
    max-width: 900px;
    margin: auto;

    padding: 40px 20px;
    color: #FDF6ED;
}


.head {
    padding-top: 80px;
    text-align: center;
    color: #1d1f1ef8;

}

.abt-me {
    padding: 40px;
    min-height: auto;

    margin-top: 1rem;
    font-size: 1.23rem;
    line-height: 1.6;
    text-align: center;
}

/* PROJECT SECTION */
.projectsec {
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px 20px;
    color: #ffffff;
}

.project {

    text-align: center;
    color: #6ca9a5;
}
/* firstcard  */
.cardrow {
    margin-top: 5vmax;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background:#2d3528e7;
    width: 20vmax;
    height: 20vmax;
    border: 2px solid rgb(238, 231, 231);
    border-radius: 10px;
    color: #d4e8dadd;    
        
}
.card:hover{
    transform: translateY(-8px);
    transition: transform 0.5s ease;
}
#firstcard{
    display: flex;
    flex-direction: column;
    border-radius:16px;
    overflow:hidden;
    gap: 5px;
  
}


#firstcard .img{
    flex: 1;
     background-image: url(tictactoe.png);
    background-size: cover;
    min-height: 7vmax;
}
#firstcard .info{
    padding: 15px;
    flex: 1;
   text-align: center;
   /* color:  #2e1910; */
}
#firstcard .info h3{
    padding-bottom: 5px;
   
}
#firstcard .info #icon{
    font-size: 1.5rem;
    padding: 1px;
    flex: 2;
   text-align: center;
   /* color:  #36663c; */
}

/* secondcard  */
#secondcard{
    display: flex;
    flex-direction: column;
    border-radius:16px;
    overflow:hidden;
    gap: 5px;
   
}

#secondcard .img{
    flex: 1;
     background-image: url(port.png);
    background-size: cover;
    min-height: 45%;
    
}
#secondcard .info{
    padding: 15px;
    margin: 10px;
    flex: 1;
   text-align: center;
}
#secondcard .info h3{
    padding-bottom: 5px;
   
}

#secondcard .info h3{
    padding-bottom: 5px;
   
}
#secondcard .info #icon{
    font-size: 1.5rem;
    padding: 1px;
    margin: 2px;
    flex: 2;
   text-align: center;
   color:  #2e1910;
}


/* Third card */
#thirdcard{
    display: flex;
    flex-direction: column;
    border-radius:16px;
    overflow:hidden;
    gap: 5px;
}

#thirdcard .img{
    flex: 1;
     background-image: url(weather-app.png);
    background-size: cover;
    min-height: 40%;
}
#thirdcard .info{
    padding: 15px;
    flex: 3;
   text-align: center;
   /* color:  #2e1910; */
}
#thirdcard .info h3{
    padding-bottom: 5px;
   
}
#thirdcard .info #icon{
    font-size: 1.5rem;
    padding: 1px;
    margin: 10px;
    flex: 2;
   text-align: center;
   color:  #182e10;
}
.demo{
     padding: 5px;
    margin-top: 15px;
    width: 80px;
     background-color: #88b591;
    border: 1px solid #d4e7c1;
    border-radius: 25px;
    font-style: oblique;
    cursor: pointer;
}
/* for smaller screen */
@media(max-width: 786px) {
    .firstsec {
        display: flex;
        flex-direction: column;
        gap: 0;

    }

    .rightsec {
        margin-top: 12vh;
        margin-right: 0;
        flex: 2;
        order: 1;
        min-width: 70vw;
        min-height: 75vw;

    }

    .leftText {
        height: 25vh;
    }

    .leftsec {
        margin: 30px 10px 30px 10px;
        padding-left: 2rem;
        flex: 3;
        order: 2;
        font-size: 1.8rem;
    }

    #git {
        width: 2rem;
    }

    #linkedin {
        width: 2rem;
    }
    .cardrow {
    margin-top: 5vmax;
    display: flex;
    align-items: center;
    flex-direction: column; 
    gap: 5px;
}
.card {
    width: 80vw;
    height: 60vh;
}
.card:hover{
    transform: none;
}
}