* {
    padding: 0;
    margin: 0;

}

a {
    text-decoration: none;
}

body {
    background-color: #20201f;
}

section {

    min-height: 100vh;

}

/* NAVIGATION SSECTION */
.navbar ul li a {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #e4ece4fb;
    font-weight: 600;
}

.navbar ul li {
    display: flex;
    height: 25px;
    width: 100px;
    justify-content: center;
    align-items: center;


}

.navbar {
    display: flex;
    width: 100vw;
    height: 80px;
    align-items: center;
    background: #232523e0;
     box-shadow:0 0 1px 1px rgb(116, 148, 129);
    position: fixed;
    top: 0px;
    padding-left: 3vw;
}

.left {
    flex: 2;
    font-size: 2rem;
    color: #e3ece8e2;
}

.right {
    flex: 3;
    margin-right: 1rem;
}

.right ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.navbar ul li a:hover {
    color: #85b99aa3;
    font-size: 1.4em;
    transition: all;
    transform: ease-out;
    transition-duration: 0.3s;

}


.dropdown {

    width: 2rem;
    border-radius: 5px;
    display: none;

}


/* HOME SECTION */
.firstsec {
    display: flex;
    align-items: center;
    color: #f3fded;
    gap: 100px;
}

.leftsec {
    flex: 1;
}

.rightsec {
    flex: 1;
}

.rightsec {

    margin-top: 8vmin;
    /* border: 1px solid rgb(5, 103, 27); */
    box-shadow: 0 0px 2px 2px rgb(73, 108, 74) ;
    max-width: 30vw;
    height: 30vw;
    border-radius: 100%;
    margin-right: 10vmin;
    background-image: url("haider.png");
    background-size: cover;
}

.leftText {
    height: 40vh;
    max-width: 680px;
    margin-bottom: 2rem;

}

.leftsec {
    margin-left: 3rem;
    padding-left: 2rem;
    font-size: 3rem;

}

#git-link-icon {
    margin: 2px;
    padding: 2px;
}

#element {
    color: #89b898;
}

.name {
    color: #74af95;
    font-weight: 600;
    font-size: 1.15em;
}

html {
    scroll-behavior: smooth;
}



.btn a {
    text-decoration: none;
    color: #262825e7;
}

.button {
    height: 60px;
}

.btn {

    width: 8rem;
    height: 2.5rem;
    font-size: 1.15rem;
    font-weight: 550;
    background-color: #88b591;
    border: 1px solid #d4e7c1;
    border-radius: 25px;
    font-style: oblique;
    cursor: pointer;
}

.btn:hover {
    transition: transform 0.3s ease;
    transform: translateY(-5px);
}

#git,
#linkedin {
    color: #88b591;
    margin-top: 10px;
    /* margin-left: 15px; */
    font-size: 2.5rem;
}


#git:hover,
#linkedin:hover {
    color: #c0dcc3;
    transform: scale(1.1);
    transition: color 0.3s ease, transform 0.3s ease;
}

/*ABOUT SECTION*/
.aboutsec {
    max-width: 900px;
    margin: auto;

    padding: 40px 20px;
    color: #FDF6ED;
}


.head {
    padding-top: 80px;
    text-align: center;
    color:  #74af95c8;

}

.abt-me {
    padding: 40px;
    min-height: auto;

    margin-top: 1rem;
    font-size: 1.23rem;
    line-height: 1.6;
    text-align: center;
}

/* PROJECT SECTION */
.projectsec {
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px 20px;
    color: #ffffff;
}

.project {

    text-align: center;
    color: #6ca9a5;
}

/* firstcard  */
.cardrow {
    margin-top: 5vmax;
    display: flex;
    justify-content: space-evenly;
}

.card {
    background: #252524e7;
    width: 20vmax;
    height: 20vmax;
    border: 2px solid rgb(238, 231, 231);
    border-radius: 10px;
    color: #d4e8dadd;

}

.card:hover {
    transform: translateY(-8px);
    transition: transform 0.5s ease;
}

#firstcard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    gap: 5px;

}


#firstcard .img {
    flex: 1;
    background-image: url(tictactoe.png);
    background-size: cover;
    min-height: 7vmax;
}

#firstcard .info {
    padding: 15px;
    flex: 1;
    text-align: center;
    
}

#firstcard .info h3 {
    padding-bottom: 5px;

}

#firstcard .info #icon {
    font-size: 1.5rem;
    padding: 1px;
    flex: 2;
    text-align: center;
}

/* secondcard  */
#secondcard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    gap: 5px;

}

#secondcard .img {
    flex: 1;
    background-image: url(port.png);
    background-size: cover;
    min-height: 45%;

}

#secondcard .info {
    padding: 15px;
    margin: 10px;
    flex: 1;
    text-align: center;
}

#secondcard .info h3 {
    padding-bottom: 5px;

}

#secondcard .info h3 {
    padding-bottom: 5px;

}

#secondcard .info #icon {
    font-size: 1.5rem;
    padding: 1px;
    margin: 2px;
    flex: 2;
    text-align: center;
    color: #2e1910;
}


/* Third card */
#thirdcard {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    overflow: hidden;
    gap: 5px;
}

#thirdcard .img {
    flex: 1;
    background-image: url(weather-app.png);
    background-size: cover;
    min-height: 40%;
}

#thirdcard .info {
    padding: 15px;
    flex: 3;
    text-align: center;
}

#thirdcard .info h3 {
    padding-bottom: 5px;

}

#thirdcard .info #icon {
    font-size: 1.5rem;
    padding: 1px;
    margin: 10px;
    flex: 2;
    text-align: center;
    color: #182e10;
}

.demo {
    padding: 5px;
    margin-top: 15px;
    width: 80px;
    background-color: #88b591;
    border: 1px solid #d4e7c1;
    border-radius: 25px;
    font-style: oblique;
    cursor: pointer;
}
/* #SKILL SEC */
.skill_cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vmax;

}
.skill-card{
    h2{
        text-align: center;
        font-size:1.5rem ;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    i{
        font-size: 1.5rem;
        margin-right: 1rem;
       
    }
    li{        
        margin-bottom: 1rem;
        margin-left: 3rem;
        list-style: none;
        text-align: start;
    }
     background: #1c1a17f6;
    width: 22vmax;
    height: 18vmax;
    border: 2px solid rgb(238, 231, 231);
    border-radius: 10px;
    color: #ecebe4fc;
}

    /* CONTACT SEC */
    .contactsec {
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 10px;
    padding: 40px 20px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .right {
        position: relative;
    }

    .dropdown {
        display: block;
        position: relative;
        left: 35vw;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
    }

    #list {
        display: none;
        position: absolute;
        height: 15rem;
        top: 3rem;
        /* Below the button */
        right: 0;
        width: 120px;
        border-radius: 20px;
        background-color: #232523;
        list-style: none;
        gap: 2rem;
        padding: 10px;
        z-index: 1000;

    }

    #list li {
        width: 100px;

    }

    #list.show {
        display: flex;
        flex-direction: column;


    }

    #list a:hover {
        font-size: 1.1em;

    }
    #git-link-icon span{
    margin-right: 1rem;
}
}


/* for smaller screen */
@media(max-width: 786px) {
    .firstsec {
        display: flex;
        flex-direction: column;
        gap: 0;

    }

    .rightsec {
        margin-top: 12vh;
        margin-right: 0;
        flex: 2;
        order: 1;
        min-width: 70vw;
        min-height: 75vw;

    }

    .leftText {
        height: 25vh;
    }

    .leftsec {
        margin: 30px 10px 30px 10px;
        padding-left: 2rem;
        flex: 3;
        order: 2;
        font-size: 1.8rem;
    }

    #git {
        width: 2rem;
    }

    #linkedin {
        width: 2rem;
    }

    .cardrow {
        margin-top: 5vmax;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    .card {
        width: 80vw;
        height: 50vh;
    }
      .card:hover {
        transform: none;
    }

    .skill_cards{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        
    }
    .skill-card{
        width: 80vw;
        height: 50vh;
    }
  
}